{% load bootstrap4 %}

<h2> Your Saved Locations </h2>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<ul>
    {% for location in locations %}
        <li>{{ location.city }}</li>
        {% if weather_data %}
            <ul>
                {% for weather in weather_data %}
                    {% if weather.city == location.city %}
                        <li>Temperature: {{ weather.weather.main.temp }} Celsius</li>
                        <li>Weather: {{ weather.weather.weather.0.description }} </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</ul>

<h3>Add a New Location</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Add Location</button>
</form>

